
.game-container {
    position: relative;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 3px solid red;
    cursor: url("Aim.ico"), pointer;
}

.score {
    position: absolute;
    top: 20px;
    left: 20px    
}
.speed {
    position: absolute;
    top: 40px;
    left: 20px    
}
