
.arena {
    position: relative;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    cursor: url("Aim.ico"), pointer;
}
.score-container {
    position: absolute;
    top: 60px;
    left: 20px    
}
.speed-container {
    position: absolute;
    top: 80px;
    left: 20px    
}
.level-container {
    position: absolute;
    top: 20px;
    left: 20px    
}
.level-container span {
    font-size: 20px;
}
.replay-container{
    position: absolute;
    top: 120px;
    left: 20px    
}
.active {
    color: white;
}
.margin-top {
    margin-top: 24px;
}

.game-container h3 {
    margin-bottom: 16px;
}
