
.game-container {
    position: relative;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 3px solid red;
    cursor: url("Aim.ico"), pointer;
}

.score-container {
    position: absolute;
    top: 60px;
    left: 20px    
}
.speed-container {
    position: absolute;
    top: 80px;
    left: 20px    
}
.level-container {
    position: absolute;
    top: 20px;
    left: 20px    
}
.level-container span {
    font-size: 30px;
}
